.pfcontainer {
    width:95%;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;  
}

.pfcontainer ul {
    padding: 0px;
    margin: 0x;
}

.pfcontainer ul li {
    list-style: none;
    float: left;
    width: 20%;
    height: 350px;
    margin: 40px 40px 0px 55px;

}