.responsive {
    width:100%;
    height: auto;
  }

  body {
background-color: black;

  }

  section {
    color:whitesmoke;
    
  }

  footer {
    color: rgb(172, 90, 28);
    margin: 50px;
    text-align: center
  }